<%- include('./partials/head') %>
<%- include('./partials/fonts') %>
  </head>
<body>
    <%- include('./partials/nav') %>
  <main>
    <div class="page-header">
      <h2>Welcome to Feet First</h2>
      <p>Find races near you.</p>
    </div>

    <div class="race-box">
      <ul class="races">
        <% races.forEach (race => {%>
          <li class="race-item">
            <a href="/races/id/<%=race.id%>">
              <div class="item-top">
                <h3><%= race.title %></h3>
                <p> <%= race.description %></p>
              </div>
              <% if (race.raceimage){%>
                <img src="<%=race.raceimage%>" alt="race image" class="race-preview">
              <% } %>
            </a>
          </li>
        <% })%>
      </ul>
    </div>
  </main>

</body>
