<%- include('./partials/head') %>
  <script src="/script.js" defer></script>
  </head>

  <body>
    <%- include('./partials/nav') %>
      <h1>
        <%= title %>
      </h1>
      <div id="root">
        <button id="new-prod-btn">Add New Product</button>
        <%- include('./partials/new-prod-form') %>
          <main class="items-container">
            <% productsList.forEach((prod)=> { %>
              <article class="item">
                <div class="text">
                  <h3>
                    <%= prod.id %>: <%= prod.name %>
                  </h3>
                  <p>
                    <%= prod.type %>
                  </p>
                  <p>Description: <%= prod.description %>
                  </p>
                  <form style="display: inline" action="/products/<%= prod.id %>" method="get">
                    <button class="inner-button">View</button>
                  </form>
                  <button class="delete-prod" id="<%= prod.id %>">Delete Product</button>
                </div>
              </article>
              <% }) %>
          </main>
      </div>
  </body>

  </html>