<%- include('../partials/head') %>
  <script src="/rsvp.js" defer></script>
  </head>

  <body>
    <%- include('../partials/nav') %>
    <main class="race-details" data-race-id="<%= race.id %>">
      <section class="race-left center">
        <h1><%= race.title %></h1>
        <button class="center" id="rsvp-btn">RSVP</button>
        <% if (author && author.profileimage) { %>
          <div class="author-preview">
            <p class="center bold">Meet the Host</p>
            <div class="author-card center">
              <a href="/users/<%=author.id%>">
                <img src="<%=author.profileimage%>" class="profile-photo" alt="<%=author.username%>'s picture">
                <h3><%=author.username%></h3>
              </a>
            </div>
          </div>
        <% } %>
        <% if (user && author.id === user.id) { %>
          <a href="/races/id/<%=race.id%>/update">
            <button>Edit Your Race</button>
          </a>
        <% } %>
        <section class="weather">
          <% if (weather) { %>
              <h3>Check out the Local Weather</h3>
              <% weather.daily.time.forEach((date, i) => { %>
                  <div>
                    <p>
                      <strong><%= date %></strong>: 
                    </p>
                    <p>
                      <%= weather.daily.temperature_2m_min[i] %>°C - <%= weather.daily.temperature_2m_max[i] %>°C
                      (<%= weather.daily.precipitation_hours[i] %>h precipitation)
                    </p>
                      
                  </div>
              <% }); %>
          <% } else {%>
            <p>Weather data could not be retrieved.</p>
          <% }%>
        </section>
      </section>
      <section class="race-right">
        <div class="race-infobox">
          <h2 class="center underline">RACE INFO</h2>
          <p>Description: <%=race.description%></p>
          <p>WHEN:  <%=race.date%></p>
          <h3>DISTANCE: <%=race.distance%></h3>
          <% if (race.raceimage){%>
          <div class="img-box center">
            <img src="<%=race.raceimage%>" class="race-photo" alt="race image goes here.">
          </div>
          <%}%>
        </div>
        
        <div class="participants">
          <% if (participants) {%>
          <h3>Participants</h3>
          <% participants.forEach (part => {%>
            <a href="/users/<%=part.id%>">
              <p><%= part.username %></p>
            </a>
            <% }) %>
          <% } else {%>
            <p>No one is participating yet. :(</p>
          <% } %>
        </div>
      </section>
    </main>
  </body>

  </html>